@import '../../../assets/styles/variables';
// @import "../../../../node_modules/slick-carousel/slick/slick.scss";
// @import "../../../../node_modules/slick-carousel/slick/slick-theme.scss";
/* Cover Styles */
.cover {
    background-image: url('../../../assets/cover.jpg');
    background-size: cover;
    background-position: center;
    min-height: 600px;
    position: relative;
    z-index: 1; /* Ensure the cover is above other elements */
  }
  
  .cover-content {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 83px;
    transform: translateY(-50%);
    max-width: 70%;
  }
  

  
  .cover p {
    font-size: 22px;
    margin-bottom: 20px;
    max-width: 75%;
    line-height: 3;
  }
  
  .button {
    text-align: end;
    max-width: 75%;
  }
  
  .cta-button {
    background-color: $primary-color;
    box-shadow: 20px 20px 60px #00000066;
    color: white;
    padding: 0px 1.5rem;
    border: none;
    border-radius: 37px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    height: 60px;

  }
  
  .cta-button:hover {
    background-color: $third-color;
  }

  //////////////////////
  /// 
  /// 
  /// 
  /// 
  /// 
  .card-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  @media (max-width: 991px) {
    .card-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }
  @media (max-width: 768px) {
    .cover-content {
      position: static;
      max-width: 100%;
      text-align: center;
      padding: 20px; /* Add some padding to the cover content */
      transform: none;
    }
    
    .cover p {
      font-size: 18px;
    }
    
    .card-row {
      margin: 15px 0;
    }

  }








////////////carousel
.carousel {
  display: block; /* Change from flex to block for horizontal scrolling */
  overflow: hidden; /* Hide overflow to prevent horizontal scrollbar */
}
// .slick-center {
//   padding: 0 30px; /* Adjust the padding as needed */
// }
.slick-slide {
  padding: 0 10px; /* Adjust the padding as needed */
  img{
    height: 170px;
  }
}





.header-slider{
  width: 80%; 
  margin: auto;

  @media (max-width: 768px) {
  width: 96%; 
  }

  @media (min-width: 768px) {
    h1{
      transform: translate(0, 130%)!important;
    }    
  
  }
}


.header-container{
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  margin-top: 2rem;
}






//////////////////////blog cards



///////////////////////////contact-us
/// 

.contact-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-image: url('../../../assets/contact.jpg');
  background-size: cover;
  background-position: center;
  min-height: 400px;
  position: relative;
  z-index: 1; /* Ensure the cover is above other elements */
  margin-bottom: 4rem;

}

.contact-container img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  // top: 20%; /* Adjust as needed */
  left: 0;
  // 
  display: flex;

  justify-content: space-around;
  align-items: center;
  // margin: 0 20px;
  @media (min-width: 768px) {
  top: 30%;
  width: 100%;

  }


}

.overlay p {
  margin: 0;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1;
}
