@import '../../../assets/styles/variables';
@import "../../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../../node_modules/slick-carousel/slick/slick-theme.scss";
/* Cover Styles */
.cover {
    background-image: url('../../../assets/first.png');
    background-size: cover;
    background-position: center;
    min-height: 600px;
    position: relative;
    z-index: 1; /* Ensure the cover is above other elements */
  }
  
  .cover-content {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 83px;
    transform: translateY(-50%);
    max-width: 70%;
  }
  

  
  .cover p {
    font-size: 22px;
    margin-bottom: 20px;
    max-width: 75%;
    line-height: 3;
  }
  
  .button {
    text-align: end;
    max-width: 75%;
  }
  
  .cta-button {
    background-color: $primary-color;
    box-shadow: 20px 20px 60px #00000066;
    color: white;
    padding: 23px 40px;
    border: none;
    border-radius: 37px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .cta-button:hover {
    background-color: $accent-color;
  }

  //////////////////////
  /// 
  /// 
  /// 
  /// 
  @media (max-width: 768px) {
    .cover-content {
      position: static;
      max-width: 100%;
      text-align: center;
      padding: 20px; /* Add some padding to the cover content */
      transform: none;
    }
    
    .cover p {
      font-size: 18px;
    }
    
    .container {
      width: 100%;
      padding: 0 20px; /* Add some padding to the container */
    }
    
    .card-row {
      margin: 15px 0;
    }
  }



  .container {
    width: 80%;
    margin: 47px auto;
    padding: 0 20px; /* Add some padding to the container */

}




////////////carousel
.carousel {
  display: block; /* Change from flex to block for horizontal scrolling */
  overflow: hidden; /* Hide overflow to prevent horizontal scrollbar */
}
// .slick-center {
//   padding: 0 30px; /* Adjust the padding as needed */
// }
.slick-slide {
  padding: 0 10px; /* Adjust the padding as needed */
}















//////////////////////blog cards
.card-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
  justify-content: space-between; /* Distribute cards evenly along the row */
}


.card {
  // border: 1px solid #ccc;
  border-radius: 5px;
  // padding: 20px;
  box-shadow: 20px 20px 60px #0000001A;
  width: 47%;
  margin: 10px auto;
}

.card-content{
  margin: 40px;
}
.date{
  text-align: end;
}
.card-type-1 {
  /* Add custom styles for the first card */
  background-color: white;
  .date{
    color: $accent-color;
  }
  h2{
    color: $secondary-color;
  }
  p{
    color: $accent-color;
  }
}

.card-type-2 {
  /* Add custom styles for the second card */
  background: transparent linear-gradient(180deg, #003049 0%, #1A4D67 100%) 0% 0% no-repeat padding-box;
  color: white;
  .date{
    color: #709BE7;
  }
}
.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.card-image {
  // max-width: 100%;
  // height: auto;

  height: 150px;
  width: 100%;
}
