
<img class="main-cover" src="assets/about-us.jpg" alt="">


<div class="container-fluid">
    <div class="container">
        <img class="cover" src="assets/about-us2.jpg" alt="">

        <h1>Who We are?</h1>
        <p>
            STARLIGHT INTERNATIONAL TRADING COMPANY L.L.C. is a Dubai-based company that specializes in general trading (Exporting & importing) in the agri-commodities, food, and rains industries. It also provides a wide range of products and services.
        </p>
        <p>
            The company is a subsidiary of Elkenany Group, which has over 15 years of experience in the market. Elkenany Group has been able to import and distribute Agri-commodities and raw materials to animal feed, crackers, corn, and soybeans processors plus it supplies traders and local distributors.
        </p>
        <p>
            Now, STARLIGHT INTERNATIONAL TRADING COMPANY is expanding its activities by trading abroad in a variety of products. The company is also committed to providing businesses and entities with the raw materials they need from the international market.
        </p>




        

        <div class="image-container">
            <div class="overflow-box">
                <h2>Our Vision</h2>
                <p>To be one of the leading companies in the grains market and improve the entire agri-commodity industry.</p>
            </div>
            <img src="assets/vision.jpg" alt="Your Image">
          </div>

          <div class="image-container1">
            <div class="overflow-box">
                <h2>Our Mision</h2>
                <p>We provide high-quality products and services that are used in daily consumer life. We also develop new markets and expand businesses in the Raw Materials and Commodities industry.</p>
            </div>
            <img src="assets/mission.jpg" alt="Your Image">
          </div>


          <div class="image-container">
            <div class="overflow-box">
                <h2>Objectives</h2>
                <p>We are a trading company that specializes in importing and exporting all types of commodities. We cover the international market with high-quality agri-commodities and food products. We make international trading easier than before by providing all the necessary facilities and removing all obstacles that our customers face.</p>
            </div>
            <img src="assets/object.jpg" alt="Your Image">
          </div>



 

    </div>
</div>
